# Visual Studio files
/.vs/

# user files
*.user

# Builds
/bin/
/obj/
/kq3-hacking/bin/
/kq3-hacking/obj/

# Windows shortcuts
*.lnk

# new source files
# /agi-logic-scripts-source/

# generated
/output/

